body {
    color: rgb(0, 0, 0);
}

.primary-bg {
    background-color: rgb(255, 249, 249);
}

.brand {
    font-family: 'Lobster';
    font-size: 22px;
}

li {
    font-size: 27px;
}

li:hover {
    font-size: 27px;
}

.foot {}

.uname {
    font-family: 'Merienda One';
    color: black;
    font-size: 14px;
}

.card {
    color: black;
}

.card-header {
    color: black;
    background-color: white;
}

.card-footer {
    color: black;
    background-color: white;
    font-size: 10px;
}

.card-footer i:hover {
    color: red;
}

.imgres {
    width: 100%;
    height: 620px;
}

@media only screen and (max-width: 480px) {
    .imgres {
        height: 520px;
    }
}

nav a {
    color: black;
}

nav a:hover {
    color: rgb(241, 60, 172);
}

.primary-btn {
    background-color: white;
}

.primary-btn:hover {
    color: rgb(241, 60, 172)
}

.foot li a {
    color: black;
}

#ficons {
    background-color: aqua;
    color: black;
}


/* icons */


/* 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    background-color: white;
}

.dropdown-content li {
    font-size: 16px;
}

@media only screen and (max-width: 480px) {
    .dropdown-content li {
        font-size: 14px;
        background-color: white;
    }
}

@media only screen and (max-width: 480px) {
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        color: black;
    }
}

.drop:hover .dropdown-content {
    display: block;
} */


/* nav */

.list-group-item {
    background-color: black;
    color: white;
    font-size: 22px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* end nav */