{% extends "base.html" %}

{% block title %}DreamH{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1">
			
		</div>

		<div class="col-md-10 text-center">
			<span class="fa fa-exclamation-circle " style="font-size: 300px ; color: darkgray;"></span>
			<h2 class="h2"> Sorry Somthing Went Wrong </h2>
			<p> Try Again ...</p>			

			<a href="/"><button class="btn primary-bg text-white my-3"><span class="fa fa-home"> </span> Home </button>
			</a>
		</div>


		<div class="col-md-1">
			
		</div>

	</div>
	<br> 
<br>
<br> 
<br>
<br>  
<br><br><br>
	
</div>

{% endblock %}